## Creation of sample dataset

In [3]:
import pandas as pd
from pathlib import Path
import os

In [4]:


artists = pd.read_csv("cleaned/artists.tsv",sep = "\t")
r_tracks = pd.read_csv("cleaned/r_track_artist.tsv",sep = "\t")
tracks = pd.read_csv("cleaned/tracks.tsv",sep = "\t")
albums = pd.read_csv("cleaned/albums.tsv",sep = "\t")
r_albums = pd.read_csv("cleaned/r_albums_tracks.tsv",sep = "\t")

In [5]:

print(artists.iloc[4930]) #Michael Jackson)
print(artists.iloc[13970]) #Bad Bunny)
print(artists.iloc[11426] )#Frank Ocean)
print(artists.iloc[5611]) #Kanye West)
print(artists.iloc[7471]) #Frank Ocean)
print(artists.iloc[7496]) #Clown)
print(artists.iloc[6366])
pick = [4930,13970,11426,5611,7471,7496,6366] #Numeor de columna de los artistas elegidos

Unnamed: 0                      4930
name                 Michael Jackson
id            3fMbdgg4jU18AjLCKBhRSm
popularity                        86
followers                   18029886
Name: 4930, dtype: object
Unnamed: 0                     13970
name                       Bad Bunny
id            4q3ewBCX7sLwd24euuV69X
popularity                        98
followers                   31863068
Name: 13970, dtype: object
Unnamed: 0                     11426
name                     Frank Ocean
id            2h93pZq0e7k5yf4dywlkpM
popularity                         0
followers                          0
Name: 11426, dtype: object
Unnamed: 0                      5611
name                      Kanye West
id            5K4W6rqBFWDnAN6FQUkS6x
popularity                         0
followers                          0
Name: 5611, dtype: object
Unnamed: 0                      7471
name                     Limp Bizkit
id            165ZgPlLkK7bf5bDoFc6Sb
popularity                        75
followers                    3910436
Name: 7471, dtype: object
Unnamed: 0                      7496
name                       Sevendust
id            35Uu85Pq33mK8x1jYqsHY2
popularity                        60
followers                     758687
Name: 7496, dtype: object
Unnamed: 0                      6366
name                     Vanilla Ice
id            7GXXMm3DB1VswVcuGyInUd
popularity                        61
followers                     320071
Name: 6366, dtype: object

In [6]:
ids_artistas = [] 
for idx in pick:
    ids_artistas.append(artists.iloc[idx].id)

In [7]:
final_r_tracks = r_tracks[r_tracks.artist_id.isin(ids_artistas)]
track_ids = final_r_tracks["track_id"].tolist()
final_r_albums = r_albums[r_albums.track_id.isin(track_ids)]
albums_ids = final_r_albums["album_id"].tolist()

In [8]:
final_tracks = tracks[tracks.id.isin(track_ids)]
final_artist = artists[artists.id.isin(ids_artistas)]
final_albums = albums[albums.id.isin(albums_ids)]

In [18]:
final_albums= final_albums.drop(["Unnamed: 0"],axis = 1)

,id,name,album_type,release_date,popularity
3100,0F4XW0iBOhNFkbn1BuQ8cu,Got To Be There,album,65059200000,50
3114,3xo2soey9XEBI5DlmT4KlQ,Ben,album,81734400000,49
3876,2ZytN2cY4Zjrr9ukb2rqTP,Off the Wall,album,303091200000,76
4230,1C2h7mLntPSeVYciMRTF4a,Thriller 25 Super Deluxe Edition,album,407462400000,84
4277,2ANVost0y2y52ema1E9xAZ,Thriller,album,407462400000,68
...,...,...,...,...,...
4814153,6RbH4isVKIOg1OY1HvRqFc,LOYAL (feat. Drake and Bad Bunny) - Remix,single,1581033600000,0
4814211,0JmGVy7IzUM27My3UuEOOZ,Knock You Down,album,1230768000000,0
4814340,6fbjdXZNtoAJbJZUeT87Ii,Sweet Life,album,1341878400000,0
4814364,72794Eag03xdy7TO0KNuid,Cayendo (Side A - Acoustic),single,1585872000000,0
4814449,4JB0EAT4BkLShTyTt50FmO,"Ego Death (feat. Kanye West, FKA twigs & Skril...",single,1593561600000,0

In [19]:
final_albums.head()

,Unnamed: 0,id,name,album_type,release_date,popularity
3100,3100,0F4XW0iBOhNFkbn1BuQ8cu,Got To Be There,album,65059200000,50
3114,3114,3xo2soey9XEBI5DlmT4KlQ,Ben,album,81734400000,49
3876,3876,2ZytN2cY4Zjrr9ukb2rqTP,Off the Wall,album,303091200000,76
4230,4230,1C2h7mLntPSeVYciMRTF4a,Thriller 25 Super Deluxe Edition,album,407462400000,84
4277,4277,2ANVost0y2y52ema1E9xAZ,Thriller,album,407462400000,68

In [10]:
final_tracks.head()

,Unnamed: 0,id,disc_number,duration,explicit,name,track_number,popularity
2797,2797,0L0wNdB2KJjQrymVBkMnAq,1,309600,0,Heartbreaker,2,43
4538,4538,0YPB8desC4cNwYOvr311KM,1,347346,1,Drive Slow (feat. Kanye West and GLC) - Screwe...,17,18
9313,9313,3sNVsP50132BTNlImLx70i,1,229146,1,Bound 2,10,81
24775,24775,1nGoy0cEj0extAwXYNYTWd,1,205546,1,Wouldn't Leave,4,64
40183,40215,5h6EHy1GvTcGrpedGZCPHL,1,205026,0,Wings Of My Love,7,23

In [11]:
final_r_tracks.head()

       Unnamed: 0                track_id               artist_id
64990       64990  5ou2nZT8UQJn1nuiUxAyjs  3fMbdgg4jU18AjLCKBhRSm
64991       64991  3mnVgyzn5HC7Sqkn3B5zHs  3fMbdgg4jU18AjLCKBhRSm
64992       64992  2laojQD1QCqjvmMn8lFlPk  3fMbdgg4jU18AjLCKBhRSm
64993       64993  6m6WAwH7v59fGJQz2luaXN  3fMbdgg4jU18AjLCKBhRSm
64994       64994  08QvVJT8y6b0i2nH9mUeMj  3fMbdgg4jU18AjLCKBhRSm

In [12]:
final_r_albums.head()

       Unnamed: 0                album_id                track_id
47160       47160  0F4XW0iBOhNFkbn1BuQ8cu  5ou2nZT8UQJn1nuiUxAyjs
47161       47161  0F4XW0iBOhNFkbn1BuQ8cu  3mnVgyzn5HC7Sqkn3B5zHs
47162       47162  0F4XW0iBOhNFkbn1BuQ8cu  2laojQD1QCqjvmMn8lFlPk
47163       47163  0F4XW0iBOhNFkbn1BuQ8cu  6m6WAwH7v59fGJQz2luaXN
47164       47164  0F4XW0iBOhNFkbn1BuQ8cu  08QvVJT8y6b0i2nH9mUeMj

In [13]:
final_artist.head()

,Unnamed: 0,name,id,popularity,followers
4930,4930,Michael Jackson,3fMbdgg4jU18AjLCKBhRSm,86,18029886
5611,5611,Kanye West,5K4W6rqBFWDnAN6FQUkS6x,0,0
6366,6366,Vanilla Ice,7GXXMm3DB1VswVcuGyInUd,61,320071
7471,7471,Limp Bizkit,165ZgPlLkK7bf5bDoFc6Sb,75,3910436
7496,7496,Sevendust,35Uu85Pq33mK8x1jYqsHY2,60,758687

In [14]:
#Now we create the new files.
BASE = Path(os.getcwd())
if not os.path.exists(BASE / "sample"):
    os.mkdir(BASE/"sample")

final_albums.to_csv('sample/albums.tsv', sep = '\t')
final_tracks.to_csv('sample/tracks.tsv', sep = '\t')
final_r_tracks.to_csv('sample/r_track_artist.tsv', sep = '\t')
final_r_albums.to_csv('sample/r_albums_tracks.tsv', sep = '\t')
final_artist.to_csv('sample/artists.tsv', sep = '\t')